<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <env name="PAYSTACK_SECRET" value="sk_test_123456abcde"/>
        <env name="PAYSTACK_PLAN" value="PLN_123456" />
        <env name="PAYSTACK_OTHER_PLAN" value="PLN_234567" />
        <env name="PAYSTACK_TRANSACTION_ID" value="12345679" />
        <env name="PAYSTACK_TRANSACTION_ID_INVALID" value="234567890" />
        <env name="PAYSTACK_TRANSACTION_REF" value="abcf12345679" />
        <env name="PAYSTACK_TRANSACTION_REF_INVALID" value="Tref3456869" />
        <env name="PAYSTACK_CUSTOMER" value="CUS_abcdefgh123" />
        <env name="PAYSTACK_OTHER_CUSTOMER" value="CUS_123abcdefgh123" />
        <env name="DB_CONNECTION" value="testing"/>
    </php>
</phpunit>
